.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 5px 5px 5px 5px;
    margin-top: 10px;
}

.card>img {
    object-fit: cover;
    aspect-ratio: 1;

    border-radius: inherit;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* .score-display {
    background-color: rgb(142, 222, 252);
} */

.playerScoreCard {
    width: 100%;
    /* height: 500px; */
    border: 1px solid #ff686b;
    ;
}

.playerScoreCardHeader {
    width: 100%;
    height: 50px;
    background-color: #ff686b;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.playerScore {
    width: 100%;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    color: tomato
}

.matchedCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.matchedImage {
    width: 20%;
    object-fit: contain;
    margin: 1%;
}